# Legacy Survey

In [1]:
# ----------------------------
# Imports
# ----------------------------
import pandas as pd
import matplotlib.pyplot as plt
import astropy.units as u
from getpass import getpass
from regions import CircleSkyRegion
from astropy.coordinates import SkyCoord
from astropy.table import Table
from ipyaladin import Aladin
from IPython.display import display
import dl.authClient as ac
import dl.queryClient as qc

In [2]:
# ----------------------------
# Login + Query Client
# ----------------------------
token = ac.login(
    input("Enter user name: "),
    getpass("Enter password: ")
)

# ----------------------------
ra = 205.106167
dec = 1.930114
loc_error = 100 * u.arcsec
radius_deg = loc_error.to(u.deg).value

Enter user name:  nmonsalves
Enter password:  ········

In [3]:

# ----------------------------
# SQL QUERY (Legacy Survey DR10)
# ----------------------------
query = f"""
WITH cone AS (
    SELECT
        ls_id,
        ra,
        dec
    FROM ls_dr10.tractor
    WHERE q3c_radial_query(
        ra, dec,
        {ra}, {dec},
        {radius_deg}
    )
)
SELECT
    c.ls_id,
    c.ra,
    c.dec,
    p.z_phot_mean,
    p.z_phot_std
FROM cone c
JOIN ls_dr10.photo_z p
  ON c.ls_id = p.ls_id
WHERE p.z_phot_mean IS NOT NULL;
"""

df_ls = qc.query(sql=query, fmt="pandas")

# ----------------------------
# Preparar DataFrame
# ----------------------------
df_ls = df_ls.copy()
df_ls["ra_deg"] = df_ls["ra"]
df_ls["dec_deg"] = df_ls["dec"]
df_ls["name"] = df_ls["z_phot_mean"].apply(lambda z: f"z={z:.4f}")

# ----------------------------
# Visualización con Aladin
# ----------------------------
coord = SkyCoord(ra, dec, unit="deg", frame="icrs")
aladin = Aladin(target=coord.to_string('hmsdms'), fov=radius_deg)
display(aladin)

# Cambiar fondo (opcional)
aladin.survey = "CDS/P/DESI-Legacy-Surveys/DR10/color"

# Círculo de radio 100 arcsec en amarillo
circle = CircleSkyRegion(center=coord, radius=loc_error, visual={"edgecolor": "yellow"})
aladin.add_graphic_overlay_from_region([circle])

# Fuentes como círculos rojos
table_ls = Table.from_pandas(df_ls[["ra_deg", "dec_deg", "name"]])
table_ls['ra_deg'].name = 'ra'
table_ls['dec_deg'].name = 'dec'
aladin.add_table(table_ls, color="red", shape="circle")

In [7]:
df_ls

,ls_id,ra,dec,z_phot_mean,z_phot_std,ra_deg,dec_deg,name
0,10995475633145955,205.086008,1.913418,0.837545,0.620275,205.086008,1.913418,z=0.8375
1,10995475633145952,205.085964,1.915914,1.105276,0.977976,205.085964,1.915914,z=1.1053
2,10995475633146065,205.090712,1.912433,1.026665,0.089593,205.090712,1.912433,z=1.0267
3,10995475633146063,205.090651,1.917282,1.184196,0.269607,205.090651,1.917282,z=1.1842
4,10995475633145859,205.082533,1.919833,0.962788,0.542051,205.082533,1.919833,z=0.9628
...,...,...,...,...,...,...,...,...
268,10995475633147027,205.125312,1.947655,1.154163,0.186785,205.125312,1.947655,z=1.1542
269,10995475633147208,205.131768,1.940567,0.864734,0.440771,205.131768,1.940567,z=0.8647
270,10995475633147179,205.130676,1.941722,0.649481,0.112584,205.130676,1.941722,z=0.6495
271,10995475633147090,205.127449,1.943748,1.173447,0.257712,205.127449,1.943748,z=1.1734
272,10995475633147082,205.127137,1.945940,1.204067,0.433620,205.127137,1.945940,z=1.2041

# 2MASS and NED

In [ ]:
# ----------------------------
# Imports
# ----------------------------
import pandas as pd
import matplotlib.pyplot as plt
import astropy.units as u
from regions import CircleSkyRegion
from astropy.coordinates import SkyCoord
from astropy.table import Table
from ipyaladin import Aladin
from IPython.display import display
from astroquery.ipac.ned import Ned

In [ ]:
# 2MASS (NIR) #aladin.survey = "CDS/P/2MASS/color"
# o "CDS/P/2MASS/K" # Pan-STARRS (optico)
# aladin.survey = "CDS/P/PanSTARRS/DR1/color-i-r-g"
# aladin.survey = "CDS/P/PanSTARRS/DR1/color-z-zg-g"
# Legacy Survey (DESI DR10)
#aladin.survey = "CDS/P/DESI-Legacy-Surveys/DR10/color"
# WISE
#aladin.survey = "CDS/P/allWISE/color"
#aladin.survey = "CDS/P/WISE/W1"

In [ ]:
ra = 205.106167
dec = 1.930114
loc_error = 100 * u.arcsec
radius_deg = loc_error.to(u.deg).value

In [ ]:
df_ls = qc.query(sql=query, fmt="pandas")

# ----------------------------
# Preparar DataFrame
# ----------------------------
df_ls = df_ls.copy()
df_ls["ra_deg"] = df_ls["ra"]
df_ls["dec_deg"] = df_ls["dec"]
df_ls["name"] = df_ls["z_phot_mean"].apply(lambda z: f"z={z:.4f}")

In [15]:

# Buscar objetos en NED dentro del radio dado (en grados)
result_table = Ned.query_region(coord, radius=radius_deg * u.deg)

# Mostrar resultados
result_table = result_table.to_pandas()

In [22]:
# Fuentes como círculos rojos
table_ned = Table.from_pandas(result_table[["RA", "DEC", "Object Name"]])
table_ned['RA'].name = 'ra'
table_ned['DEC'].name = 'dec'
aladin.add_table(table_ls, color="red", shape="circle")

In [12]:
coord = SkyCoord(ra, dec, unit="deg", frame="icrs")
aladin = Aladin(target=coord.to_string('hmsdms'), fov=radius_deg)
display(aladin)
# Cambiar fondo (opcional)
aladin.survey = "CDS/P/2MASS/color"
# Círculo de radio 100 arcsec en amarillo
circle = CircleSkyRegion(center=coord, radius=loc_error, visual={"edgecolor": "yellow"})
aladin.add_graphic_overlay_from_region([circle])